*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow: hidden;
}

ul {
  list-style: none;
}

li {
  /* ここで親コンテナに収めていないのが味噌 */
  flex-shrink: 0;
}

.wrapper {
  display: flex;
}
